*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
    
    
    body{
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
       background: #FAEDCD;
  margin: 0.5rem;
  font-family: 'Montserrat', sans-serif;
      }
      
      nav{
        border: 2px solid green;
border-radius: 15px;
text-align: center;
margin: 0 auto 1rem;
max-width: 600px;
line-height: 7rem;
      }
      h1{
        font-size: 6rem;
        font-family: 'Sacramento', cursive;
        background-color: rgb(238, 158, 174);
        padding: 2rem;
        border-radius:  0.7rem 0.7rem 0 0;
      }
      
      .history{
        float: right;
        text-align: left;
      }
      ul {
        list-style-type: none;
        font-size: 2rem;
        font-family: 'Sacramento', cursive;
        font-size: 3rem;
       
      }
      li{
    
        border-top: 2px solid green;
      }
      li a{
        display: block;
      }
      li a,
      li a:visited {
        color: black;
        text-decoration: none;
      }
      li a:hover,
      li a:focus {
        background: rgb(238, 158, 174);
        color: whitesmoke;
      }
      li:last-child a {
        border-radius: 0 0 12px 12px;
      }
     
      button, input, textarea {
        font: inherit;
      }
      a{
        color: rgb(0, 0, 0);
        cursor: pointer;
        text-decoration: none;
        }
        a:visited{
          color: black;
        }
        a:hover, :focus{
          color: #b83744;
          text-decoration: underline;
        
        }
        a:active{
          color: blue;
        }
      h2,h3{
        text-align: center;
          color: #111345;
          text-transform: capitalize;
          font-family: 'Sacramento', cursive;
          font-size: 4rem;
      }
      .page-bottom{
        font-size: 1rem;
        line-height: 1.5;
        background-color: #111345;
         color: rgb(238, 158, 174);
         height: 130px;
       }
       .page-bottom a, .page-bottom:visited{
      color: rgb(238, 158, 174);
      }
      .page-bottom a:hover, .page-bottom a:focus{
      text-decoration: underline;
      color: rgb(214, 189, 194);
      }